aiohttp==3.8.1
demoji==1.1.0
Django==4.0.2
django-cors-headers==3.11.0
django-heroku==0.3.1
djangorestframework==3.13.1
gensim==4.1.2
huggingface-hub==0.4.0
keras==2.8.0
Keras-Preprocessing==1.1.2
numpy==1.22.2
tensorflow==2.8.0
transformers==4.16.2
tweepy==4.6.0